.contact-glass
{
   
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
  
    
  
   

/*   
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(7, 2, 2, 0.11);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25); */
  
    /* backdrop-filter: blur(10px); */
}