@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.contributor-box-container {
    background-image: url('../../Asset/Home-image.jpg');
    background-size: cover;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: left;
    height: fit-content;
}

.contributor-container {
    font-family: "Montserrat", sans-serif;
}

.contributor-box-shadow {
    box-shadow: 0.2px 3px #000000;
}