@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.nav-container{
    /* width: 100%; */
    height: 126px;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(rgba(33, 196, 175, 1),rgba(33, 196, 175, 0)); 
}