.gemini-font {
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #e3d5cf 20%, #4d90f0 40%, #4d90f0 60%, #e3d5cf 80%);
    background-clip: text;
    color: transparent;
    animation: gradient 5s linear infinite;
    background-size: 200% 100%;
}

@keyframes gradient {
    to {
        background-position: 200% center;
    }
}
